<template id="footer">
  <footer>
    <ul
      class="list-none flex flex-wrap items-center justify-center gap-3 m-0 p-3"
    >
      <li class="p-0">
        <a href="/" kll-ctrl="link" data-trans="home"></a>
      </li>
      <li class="p-0">
        <a href="/about" kll-ctrl="link" data-trans="about"></a>
      </li>
      <li class="p-0">
        <a href="/legal" kll-ctrl="link" data-trans="legalNotice"></a>
      </li>

      <li class="p-0">
        <a
          href="https://bouteiller.contact"
          target="_blank"
          rel="noopener noreferrer"
          data-trans="contact"
        ></a>
      </li>
    </ul>
  </footer>
</template>
