<template id="header">
  <header class="flex justify-between p-2">
    <a href="/" class="font-bold"
      ><span class="text-rd-highlight darktext-dark-highlight  border-t border-rd-text dark:border-dark-text">ROLLER</span
      ><span class="border-b border-rd-highlight dark:border-dark-highlight text-rd-text dark:text-dark-text"> DERBY</span>

    </a>
    <div class="flex gap-2 items-center">
      <div class="flex gap-1 items-center">
        <div data-trans="kofi" class="text-xs"></div>
        <img
          src="/public/kofi_logo.svg"
          alt="Ko-fi"
          class="w-6 inline-block"
          width="24"
          height="15"
        />
      </div>
      <div kll-tc="rupteur"></div>
    </div>
  </header>
</template>
